ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: inherit;
  padding-bottom: 20px;
  border-bottom: 2px solid white;
  padding-left: 0px;
  margin-bottom: 40px;
}

li {
  color: white;
}
