# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules

# Ignore all package.json files
**/package-lock.json

# Don't push our production build
dist

dist-ssr
*.local

# Don't push our coverage files for jest
coverage

# MacOS creates these files
.DS_Store

# Never push our environment variables
.env

# Cypress videos from our headless runs should not be pushed to github
cypress/videos
cypress/screenshots

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
