# * As variables are added or modified here, it's important to also add them or modify them in the Heroku app settings, as well as in the Heroku pipeline settings.

# The port our server will be running on.
# For Heroku use: PORT=80
PORT=3000

# NODE_ENV setup for development.
# For Heroku use: NODE_ENV=production
NODE_ENV=development

# This is the URL the server will use for the database. The example is an Atlas URL, but can be anything. This URL is provided by Atlas.
MONGODB_URL=mongodb+srv://<name>:<password>@<cluster>/<dbName>?retryWrites=true&w=majority
